# Github action inspired by
# https://github.com/jonathanknowles/haskell-example
# https://github.com/DeltaQ-SD/deltaq/
#
name: MicroHs CI
on:
  workflow_dispatch:
  merge_group:
    types:
      - checks_requested
  pull_request:
    types:
      - synchronize
      - opened
      - reopened
  push:
    branches:
      - main
  schedule:
    # Run once per day (at UTC 18:00) to maintain cache:
    - cron: 0 18 * * *
jobs:
  build:
    name: ${{ matrix.os }}-mhs
    runs-on: ${{ matrix.os }}
    continue-on-error: false
    strategy:
      matrix:
        os:
          - ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Checkout MicroHs
        uses: actions/checkout@v4
        with:
          repository: augustss/MicroHs
          ref: 3c4652b27fb404b402109a9ef0439fc2b1a732e9
          path: mhs

      # mhs
      - name: Make and Install MicroHs
        run: |
          cd mhs
          make minstall
          echo "$HOME/.mcabal/bin" >> "$GITHUB_PATH"

      # vault
      - name: Compile and Install `vault`
        run: |
          PATH="$HOME/.mcabal/bin:$PATH"
          mcabal -r install
